<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Glegoo&family=Hind+Siliguri&family=Varela+Round&display=swap"
      rel="stylesheet"
    />

    <link
      defer
      rel="stylesheet"
      type="text/css"
      href="./stylesheets/style.css"
    />
    <script defer src="./app.js"></script>
    <title>Benji Codes</title>
  </head>
  <body>
    <h1>Benji's Profile</h1>
  </body>
</html>
