* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hind Siliguri", sans-serif;
  color: #262322;
  background-color: #fffcf9;
}

h1 {
  font-family: "Varela Round", sans-serif;
}

h2 {
  font-family: "Glegoo", serif;
}

a {
  color: #00b7ff;
}
